:root {
  --white: #f7efef;
  --grey: #bdc3c7;
  --black: #383838;
  --gradiant-red-1: #ff8989;
  --gradiant-red-2: #a81717;
  --gradiant-red-3: #961010;
  --gradiant-green-1: #cff7d5;
  --gradiant-green-2: #17a82a;
  --gradiant-green-3: #109619;
  --gradiant-1: #afe9ff;
  --gradiant-2: #52b1d3;
  --gradiant-3: #3eb5e0;
}

.chart-container {
}

.abscissa {
  background-color: var(--white);
}

.ordinate {
  background-color: var(--white);
}

.chart {
  width: 300px;
  height: 200px;
}

.grid {
  stroke: var(--black);
  stroke-dasharray: 5;
  stroke-width: 1;
}

.graph-text {
  fill: var(--black);
  text-anchor: middle;
}

.graph-point {
  stroke: var(--white);
  fill: var(--gradiant-3);
  r: 4;
  stroke-width: 2;
}

.graph-line {
  stroke: var(--gradiant-3);
  stroke-width: 5;
}

.graph-path {
  fill: var(--gradiant-1);
}

.graph-path:hover {
  cursor: pointer;
  fill: var(--gradiant-2);
}
